{% extends 'base.html.twig' %}

{% block title %}{{ user.login }}{{ parent() }}{% endblock %}

{% block breadCrumbs %}
    {{ parent() }} -> <a href="{{ path(app.current_route, { id: user.id}) }}">Profile</a>
{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1>User info</h1>
        {{ include('user/user_info_template.html.twig') }}
    </div>
{% endblock %}
